<div class="modal-body">
  <div class="col-lg-12">
    <p>
      <strong>Name:</strong>
      <%= user.name %>
    </p>

    <p>
      <strong>Email:</strong>
      <%= user.email %>
    </p>

    <p>
      <strong>Address:</strong>
      <%= user.address %>
    </p>

    <p>
      <strong>Contact:</strong>
      <%= user.contact %>
    </p>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-secondary btn-lg close-modal" data-bs-dismiss="modal">Close</button>
</div>
