<div class="form-inline d-flex">
  <span class="me-md-auto">32 Items found </span>
  <select class="me-2 form-control">
    <option>Latest items</option>
    <option>Trending</option>
    <option>Most Popular</option>
    <option>Cheapest</option>
  </select>
  <div class="btn-group">
    <a href="#" class="btn btn-outline-secondary" data-toggle="tooltip" title="" data-original-title="List view">
      <i class="fa fa-bars"></i></a>
    <a href="#" class="btn  btn-outline-secondary active" data-toggle="tooltip" title="" data-original-title="Grid view">
      <i class="fa fa-th"></i></a>
  </div>
</div>
