<div class="row tooltip-green" style='width: 340px; height: 130px; background: cadetblue; border-radius: 8px; opacity: 0.9'>
  <div class="col-sm-4 d-flex align-items-center">
    <%= image_tag user_avatar(User.last, 95), class: 'rounded-lg'%>
  </div>
  <div class="col-sm-8">
    <div class="title ms-1 mt-2">
      <span class='text-white'>Dimka Ruban</span>
    </div>
    <hr class='my-1' style='border: solid 1px white;' />

    <div class="team w-full">
      <span class='ms-1 fw-light'>Team: </span>
      <span class='ms-1 fw-lighter fst-italic'>Andromeda</span>
    </div>
    <div class="d-flex justify-content-between">
      <div class="sex">
        <span class='ms-1 fw-light'>Sex: </span>
        <span class='ms-1 fw-lighter fst-italic'>Male</span>
      </div>
      <div class="old">
        <span class='fw-light'>Year: </span>
        <span class='me-5 fw-lighter fst-italic'>24</span>
      </div>
    </div>
    <div class="email">
      <span class='ms-1 fw-light'>email: </span>
      <span class='ms-1 fw-lighter fst-italic'>dimon@mail.com</span>
    </div>
  </div>
</div>
