<div class="container mt-4 mb-5">
  <div class="row">
    <p id="notice"><%= notice %></p>
    <div class="d-flex justify-content-between">
      <div class="title mb-3">
        <h1>Users</h1>
      </div>
      <div class="show-modal">
        <%= link_to 'New User', new_user_path, class: 'btn btn-success',
            data: { bs_toggle: 'modal',  bs_target: '#newUserModal', remote: true } %>
      </div>
    </div>

    <table class='table'>
      <thead class='table-success'>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Email</th>
          <th>Address</th>
          <th>Contact</th>
          <th class='text-center' >Actions</th>
        </tr>
      </thead>

      <tbody id='table-body'>
        <% @users.each.with_index(1) do |user, index| %>
          <%= render 'table_row', user: user, index: index %>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class='d-flex justify-content-center pagination-link'>
    <%== render partial: 'pagy/bootstrap_nav', locals: {pagy: @pagy} %>
    <%#== pagy_bootstrap_nav(@pagy).html_safe %>
  </div>
</div>

<!-- User create modal (title only, body and button in _form) -->
<div class="modal fade" id="newUserModal" tabindex="-1" aria-labelledby="newUserModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="newUserModalLabel">Add user</h5>
        <button type="button" class="btn-close close-create" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div id="newUserForm">
        <!-- insert by JS body and button form -->
      </div>
    </div>
  </div>
</div>

<!-- User create modal (title only, body and button in _form) -->
<div class="modal fade" id="editUserModal" tabindex="-1" aria-labelledby="editUserModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editUserModalLabel">Add user</h5>
        <button type="button" class="btn-close close-edit" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div id="editUserForm">
        <!-- insert by JS body and button form -->
      </div>
    </div>
  </div>
</div>
