<% if user && user.errors.any? %>
<div class="alert alert-warning px-3 alert-dismissible fade rounded-3 show" role="alert">
  <strong><%= pluralize(user.errors.count, "error") %> </strong> prohibited this user from being saved:
  <ul>
    <% user.errors.each do |error| %>
    <li style='list-style: auto;'><%= error.full_message %></li>
    <% end %>
  </ul>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
<% end %>
