<footer class="footer py-3 bg-light">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <span class="text-muted">
          <%= link_to 'https://github.com/secretpray/CRUD_AJAX', target: :blank, class: 'text-decoration-none text-muted' do %>
           &copy; Secretpray
          <% end %>
        </span>
      </div>
      <div class="col-md-6 text-end">
        <span class="text-muted">
          CRUD AJAX Applications
        </span>
    </div>
  </div>
</footer>
