<footer class="footer py-3 bg-light">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <span class="">
          <%= link_to 'https://github.com/secretpray/CRUD_AJAX', target: :blank, class: 'text-decoration-none text-muted opacity-75', style: 'font-size: 14px; font-weight: 300' do %>
           &copy; Secretpray&nbsp;(2021)
          <% end %>
        </span>
      </div>
    </div>
  </div>
</footer>
