<header class="masthead" style='min-height: 100vh'>
    <div class="container">
        <div class="masthead-subheading">Welcome To Our Project!</div>
        <div class="masthead-heading text-uppercase">It's Nice To Meet You</div>
        <%= link_to 'Tell Me More', users_path, class: 'btn btn-primary btn-xl text-uppercase', style: 'background-color: #FFC800; padding: 15px 30px;' %>
    </div>
</header>
