/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.page-link {
  color: #198754 !important;
}

.page-item.active .page-link {
  background: #198754 !important;
  color: white !important;
}

/* Animation table row - fadein */
.fadein {
  overflow: hidden;
  opacity: 1;
  animation: fade ease-in 0.3s;
}

@keyframes fade {
  0% {
    opacity: 0.6;
    transform: scale(0.96);
  }
  50% {
    opacity: 0.8;
    transform: scale(0.98);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

/* Animation table row - slidiUp */
.sliding {
  overflow: hidden;
  /* opacity: 1; */
  animation: slide-down linear 500ms;

}
@keyframes slide-down {
  0% {
    opacity: 0.8;
    transform: scaleY(0.9);
    transform-origin: top;
  }
  50% {
    opacity: 0.9;
    transform: scaleY(0.95);
    transform-origin: top;
  }
  100% {
    opacity: 1;
    transform: scaleY(1);
    transform-origin: top;
  }
}

p:hover ~ ul {
transform: scaleY(1);
}

/* custom file input */
.file_input_label {
  align-items: center;
  background-color: rgb(255, 255, 255);
  color: #198754;
  /* color: rgb(124, 58, 237); */
  border-color: rgb(229, 231, 235);
  border-radius: 6px;
  border-style: solid;
  border-width: 1px;
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px,
              rgba(0, 0, 0, 0) 0px 0px 0px 0px,
              rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
              rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: 130px;
  letter-spacing: 0.4px;
  line-height: 24px;
  padding: 24px 16px;
  text-align: center;
  text-transform: uppercase;
  transition-duration: 0.15s;
  transition-property: all;
  transition-timing-function: linear;
  width: 256px !important;
}

.file_input_label:hover {
  background-color: #198754;
  /* background-color: rgb(124, 58, 237); */
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px,
              rgba(0, 0, 0, 0) 0px 0px 0px 0px,
              rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
              rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  color: rgb(255, 255, 255);
}

.span-select-file {
  margin-top: 0.5rem;
  font-size: 1rem;
  line-height: 1.5rem;
}
