/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.page-link {
  color: #198754 !important;
}

.page-item.active .page-link {
  background: #198754 !important;
  color: white !important;
}

/* Animation table row */
.fadein {
  overflow: hidden;
  opacity: 1;
  animation: fade ease-in 0.3s;
}

@keyframes fade {
  0% {
    opacity: 0.6;
    transform: scale(0.96);
  }
  50% {
    opacity: 0.8;
    transform: scale(0.98);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
